/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"); */

html, body{
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,Bazier Square,Noto Sans KR,Segoe UI,Apple SD Gothic Neo,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 16px;
}

h2{
    font-size: 4rem;
    text-align: center;
}

.container{
    width: 100%;
    max-width: 60rem;
    margin: auto;
    
}

div{
    display: block;
}

.row{
    display: flex;
}

p{
    font-size: 2rem;
}
